# Series
A series is one-dimensional array like object containing an array of data (of any NumPy data-type) and an associated array of data labels, called it's index.

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## 1. Create a series: 
`Series([series])`

In [2]:
obj = Series([-2, 4, 3, 5]) # create a series using Series() method
obj

0   -2
1    4
2    3
3    5
dtype: int64

The array of elements on the left is called as <b>Index</b> and right array of elements is known as <b>Values</b>.

## 2. Get Index and Value of a Series
We can get the index from a series using `np.array(series_name.index)` method:

In [5]:
np.array(obj.index)

array([0, 1, 2, 3])

similarly, we can retrieve values from the series using `series_name.values` method:

In [4]:
obj.values

array([-2,  4,  3,  5])

## 3. Create a series with desirable index
we can create a series with our own specified index using `Series([series], index=[])` method:

In [6]:
obj2 = Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
obj2

a    10
b    20
c    30
d    40
dtype: int64

## 4. Access values/Selection:
you can use values in the index when selecting single value or multiple values

### a. Single value:
Access a particular value using a index value `series_name[INDEX_VALUE]`

In [10]:
obj2['a']

np.int64(10)

### b. Multiple values:
Access multiple values using multiple index values `series_name[[index_value1, index_value2, ... ]]`

In [12]:
obj2[['b', 'c']] # access b and c indexed elements

b    20
c    30
dtype: int64

### c. Assign Values:
We can assign/re-assign values to the specified index-value using `series_name[INDEX_VALUE] = value`

In [13]:
obj2['b'] = 50
obj2

a    10
b    50
c    30
d    40
dtype: int64

## 5. Array Operations:
Perform array operations on a series without destroying or damaging the ***index-value*** link.

### a. Boolean array operation:

In [15]:
obj2[obj2 > 30] # values greater than 30 in a series

b    50
d    40
dtype: int64

### b. Scalar Multiplication:

In [16]:
obj2 * 2

a     20
b    100
c     60
d     80
dtype: int64

### c. Math function:

In [18]:
np.square(obj2) # numpy square method

a     100
b    2500
c     900
d    1600
dtype: int64

## 6. Dict-Method on Series:
Just like **Python-Dictionaries**, a series can also be considered as dict-type as it is of ***index-value*** pair. Hence we can perform dict-methods that expect a dict.

In [19]:
'c' in obj2

True

In [20]:
'e' in obj2

False

## 7. Create a series by passing a dict(dictionary):
We can create a series by passing a dictionary to the Series method:

In [25]:
# Dictionary consisting information of states of US
sdata = {'Ohio' : 35000,
        'Texas' : 71000,
        'Oregon': 16000,
        'Utah': 5000
        }

In [27]:
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

## 8. Passing index to a series:
**NaN** : Not an Number

In [31]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [32]:
obj4 = Series(sdata, index=states)

In [33]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

## 9. Detect Missing Data:
we can detect missing data using `isnull()` and `notnull()` methods:

In [34]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [35]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

## 10. Arithmatic Operations:
A series automatically aligns differently-indexed data in arithmatic operations.

In [36]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [37]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [39]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

## 11. Rename series, index and value:

### a. Series:
We can name the whole series using `series.name = 'SERIES_NAME'`

In [41]:
obj4.name = 'Population'
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

### b. Index:
We can name the index in a series using `series.index.name = 'INDEX_NAME'`

In [42]:
obj4.index.name = 'States'
obj4

States
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64