# Index Objects
Index objects hold the axis labels for series or dataframe. Any sequence or array can be used to define index when constructing Series or Dataframe.

In [6]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [7]:
# path to your dataset
path = "A:/PreviousRepos/Data Science/Data-Science/Datasets/country_indicators.csv"

In [8]:
frame = pd.read_csv(path, delimiter=",")
frame

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN
...,...,...,...,...
36955,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
36956,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
36957,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
36958,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
36959,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139

# Create a Index

In [10]:
index = pd.Index(np.arange(5))
index

Index([0, 1, 2, 3, 4], dtype='int64')

# Retrieve only a part of the dataset

In [11]:
sliced = frame[:5]
sliced

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN

In [30]:
country = frame[:5]["Country Name"]
country

0    Arab World
1    Arab World
2    Arab World
3    Arab World
4    Arab World
Name: Country Name, dtype: object

# Give a New Index

In [32]:
country.index = ["first", "second", "third", "fourth", "fifth"]
country

first     Arab World
second    Arab World
third     Arab World
fourth    Arab World
fifth     Arab World
Name: Country Name, dtype: object

# Index Methods and Properties

In [50]:
# append a new value to index
country.index.append(pd.Index(["sixth"]))

Index(['first', 'second', 'third', 'fourth', 'fifth', 'sixth'], dtype='object')

In [52]:
# deleted an index
country.index.delete(2)

Index(['first', 'second', 'fourth', 'fifth'], dtype='object')