# Reindexing Methods
Reindexing on given data is done using `reindex()` method on the series that rearranges the data according to the new index.
If any index values are not present then the NaN values are introduced.

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [4]:
frame = DataFrame(np.arange(9).reshape(3, 3), index=['c', 'd', 'a'], columns=['India', 'China', 'USA'])

In [5]:
frame

   India  China  USA
c      0      1    2
d      3      4    5
a      6      7    8

In [6]:
# Reindexing the frame with new index
frame.reindex(['a', 'b', 'c', 'd'])

   India  China  USA
a    6.0    7.0  8.0
b    NaN    NaN  NaN
c    0.0    1.0  2.0
d    3.0    4.0  5.0

In [8]:
# Reindexing columns using reindex
frame.reindex(columns=['China', 'India', 'Russia', 'USA'], fill_value=0)

   China  India  Russia  USA
c      1      0       0    2
d      4      3       0    5
a      7      6       0    8