In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

- Using element wise numpy array methods with pandas objects

In [10]:
frame = DataFrame(np.arange(-6, 6).reshape(4, 3), 
                  index=["India", "China", "Russia", "USA"],
                 columns=list('abc'))
frame

        a  b  c
India  -6 -5 -4
China  -3 -2 -1
Russia  0  1  2
USA     3  4  5

In [11]:
# using absolute method of numpy with frame
np.abs(frame)

        a  b  c
India   6  5  4
China   3  2  1
Russia  0  1  2
USA     3  4  5

- Applying functions on 1D arrays to each column or row.

In [12]:
function = lambda x: x.max() + x.min()

In [14]:
frame.apply(function) # by default, row wise

a   -3
b   -1
c    1
dtype: int64

In [15]:
frame.apply(function, axis=1) # by column wise

India    -10
China     -4
Russia     2
USA        8
dtype: int64

- Element-wise **Python** functions can be used too.