# Handling Missing Data
NaN represents the missing data. It works as a *setinal* that can be easily detected.

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [4]:
data = Series(['Banana', np.nan, 'Watermelon', np.nan, 'Mango', 'Kiwi'])

In [5]:
data

0        Banana
1           NaN
2    Watermelon
3           NaN
4         Mango
5          Kiwi
dtype: object

In [7]:
data.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [11]:
data.dropna() # drop empty values

0        Banana
2    Watermelon
4         Mango
5          Kiwi
dtype: object

In [12]:
data.fillna(0) # fill nan values with certain number

0        Banana
1             0
2    Watermelon
3             0
4         Mango
5          Kiwi
dtype: object

# Filter Missing Data

In [15]:
data.dropna()

0        Banana
2    Watermelon
4         Mango
5          Kiwi
dtype: object

In [16]:
data[data.notnull()]

0        Banana
2    Watermelon
4         Mango
5          Kiwi
dtype: object

In [18]:
frame = DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [19]:
frame

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [22]:
frame.dropna(how="all", axis=0) # drops rows with all NaN values

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

# Filling Missing Data

In [23]:
frame.fillna(0)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [24]:
# column wise

In [29]:
frame.fillna({0:-1, 1:-2, 2:-3})

     0    1    2
0  1.0  6.5  3.0
1  1.0 -2.0 -3.0
2 -1.0 -2.0 -3.0
3 -1.0  6.5  3.0